{{!-- Estructura basica de HTML --}}
{{!-- Las vistas son dinamicas, lo que está en public es estático --}}
{{!-- Handlebars es un motor de plantillas --}}
{{!-- Está del lado del servidor, el cliente no puede accerder a ellas --}}
{{!-- El servidor las renderiza y las sirve al cliente --}}
{{!-- Una vez que se renderiza, el cliente las tiene disponibles --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>